<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>home-asc</title>
  </head>
  <style>
  body {background-color: white;}
h1 {color: black;
  font-family: Helvetica;
  font-size: 200%;}
h2 {color: green;
  font-family: Helvetica;
  font-size: 150%;}
p {color: black;
font-family: Helvetica;
  font-size: 100%;}
  a{
  color: black;
  font-family: Helvetica;
  font-size: 100%;}
}
 a:visited{
  color: blue;
  font-family: Helvetica;
  font-size: 100%;}
}

  </style>
  <body>
  <h1> Welcome to the ASC Website</h1>
  <p>Website description here.</p>
  <h2> Competitions</h2> 
  <a href="https://asc-dev.kellanb.repl.co/comps">Competitions this week.</a>
	<br>
  <br>
<a href="https://asc-dev.kellanb.repl.co/reg">Register for this week's competition.</a>
<br>
<h2> Section TBD</h2>
<a href="https://asc-dev.kellanb.repl.co/rank">Last week's rankings</a>
<br>
  </body>
</html>

