<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>asc comps</title>
		<style>
		.m{text-align: center;}
		.block{
		background-color: RGB(184, 184, 184); 
		}
		
		</style>
  </head>
  <body>
	<div class="m">
	<h1 >competetion links</h1>

<div class="block"	>
<h2>gruop 1 (averaging sub 30 seconds)</h2>
<p>name1, name2, name3: link</p><br>

<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>
</div>
<br><br><br>
<div class="block"	>

<h2>gruop 2 (averaging above above 30 seconds)</h2>
<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>
</div>
</div>
<a href="https://asc-dev.kellanb.repl.co">home</a>


  </body>
</html>
