<h1>competetion links</h1>

<h2>gruop 1 (averaging sub 30 seconds)</h2>
<p>name1, name2, name3: link</p><br>

<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>

<h2>gruop 2 (averaging above above 30 seconds)</h2>
<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>
<p>name1, name2, name3: link</p><br>

