<h1> Welcome to the asc website</h1>
<a href="https://mouseios.kellanb.repl.co/reg">register for this weeks comp</a>
<br>
<a href="https://mouseios.kellanb.repl.co/rank">ranks</a>
<br>
<a href="https://mouseios.kellanb.repl.co/comps">compitetions for this week</a>


