<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>asc standings</title>
  </head>
  <body>
<h1>asc standings!</h1>

<h2>First place: &lt;name here&gt;		</h2>
<h3>Second place &lt;name here&gt;		</h2>
<h4>Third place: &lt;name here&gt;		</h2>

<h5>4th place: &lt;name here&gt;</h5>
<h5>5th place: &lt;name here&gt;</h5>
<h5>6th place: &lt;name here&gt;</h5>
<h5>7th place: &lt;name here&gt;</h5>
<h5>8th place: &lt;name here&gt;</h5>
<h5>9th place: &lt;name here&gt;</h5>
<h5>10th place: &lt;name here&gt;</h5>

<a href="https://asc.kellanb.repl.co">home</a>
  </body>
</html>
