<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>asc standings</title>
		<style>
#body{font-family: Helvetica, Arial , sans-serif;}
#fp{text-align: center;}
#tp{text-align: center;}
#lp{text-align: center;}
#head1{text-align:center;}
#sp{text-align:center;}
#oh:hover #fp {
  color: red;
}
#sh:hover #sp {
  color: blue;
}
#th:hover #tp {
  color: yellow;
} 

a:hover{
  font-weight: bold;
  color: red;
}




		</style>
  </head>
  <body>
	<div id="body">
<h1 id="head1">asc standings</h1>
<div id="oh"> 

<h2 id="fp">First place: &lt;name here&gt;		</h2>
</div>

<div id="sh">
<h3 id="sp">Second place &lt;name here&gt;		</h3>
</div>
<div id="th">
<h4 id="tp" >Third place: &lt;name here&gt;		</h4>
</div>
<div id="lp">
<h5>4th place: &lt;name here&gt;</h5>
<h5>5th place: &lt;name here&gt;</h5>
<h5>6th place: &lt;name here&gt;</h5>
<h5>7th place: &lt;name here&gt;</h5>
<h5>8th place: &lt;name here&gt;</h5>
<h5>9th place: &lt;name here&gt;</h5>
<h5>10th place: &lt;name here&gt;</h5>
</div>
<a href="https://asc-dev.kellanb.repl.co">home</a>
</div>
  </body>
</html>
