<noscript>please enable javascript</noscript> 
<form name="f" >

name:<input type="text" name="name" required >
<br>
group(type 1 if you average sub 30 seconds, 2 for if you averaging over 30 seconds):<input name="group" required>
</form>

<script>
function go(v){
let un = document.forms["f"]["name"].value
let g = document.forms["f"]["group"].value
window.location.assign(`https://mouseios.kellanb.repl.co/reg1?name=${un}&group=${g}`);
};

</script>
<button onclick="go(1);" style="height: 50px; width: 100px;" >register</button>
<a href="https://asc.kellanb.repl.co">home</a>

