<style>

input{
	width: 260px;
	height: 45;
	border: 1px solid black ;

}
input::placeholder{
	font-size: 17px;
}
input:focus{
background-color: black;
color: rgb(0, 0, 0);
}
button:hover{background-color: black;
color: white;}
</style>
<noscript>please enable javascript</noscript> 
<form name="f" >

<input type="text" name="name" placeholder="your name" required >
<br>
<br>


<input name="group" placeholder="your average time in seconds
" required>
</form>

<script>
function go(v){
let un = document.forms["f"]["name"].value
let gr = document.forms["f"]["group"].value
var gy;
try{Number(gr); gy = true}
catch{gy = false}
if( !gy|| un.search(/[a-z A-Z]/i) ==-1  ){alert("invalad name or group")}
else{

var g;
if(Number(gr)<=30){g = 1;}
else{g=2}

window.location.assign(`https://asc-fork.kellanb.repl.co/reg1?name=${un}&group=${g}`);
};
}
</script>
<button onclick="go(1);" style="height: 50px; width: 100px;" >register</button>
<br>
<a href="https://asc-dev.kellanb.repl.co">home</a>

